.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS.footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
    background-color: #85C1E9;
    color: white;
    opacity: 0.95;
    z-index: 999;
}

.THIS.footer span {
    line-height: 35px;
    padding: 0px 13.75px;
}

.THIS.footer span a {
    text-decoration: underline;
}

.THIS.center {
    margin: 0 auto;
}

.THIS.header {
    background-color: black;
    width: 100%;
    min-width: 650px;
    height: 65px;
    position: fixed;
    top: 0px;
    z-index: 999;
}